* {
	-GtkDialog-button-spacing: 4
}
button {
	color: #FFFFFF;
	background-color: #004000;
	border-style: solid;
	border-width: 1px;
	border-color: #00FF00
}
button:hover {
	background-color: #204020;
	border-color: #80FF80
}
button:active {
	background-color: #002000;
	border-color: #008000
}
button:disabled {
	background-color: #404040;
	border-color: #FFFFFF
}
button:backdrop {
	color: #C0C0C0;
	background-color: #204020;
	border-color: #80FF80
}
text:selected {
	color: #000000;
	background-color: #00FF00
}
.large-title {
	background-color: #404040
}